.App {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #a92121;
}

.task-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-input input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.task-input button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid ;
  margin-bottom: 10px;
  border-radius: 4px;
}

.task-item.completed span {
  text-decoration: line-through;
  color: #999;
}

.task-item input {
  margin-right: 10px;
}

.task-item button {
  background: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

